
<div class="toolbar">
  <div class="leftItem regularButton">
    <a href="<%= url_for :action => :end_session%>">End</a>
  </div>
</div>

<br>
<br>
<p/>
<div class="toolbar">
	<div class="centerItem regularButton">
		<a href="<%= url_for :action => :send_high_message%>">High</a>
	</div>
</div>
<p/>
<div class="toolbar">
	<div class="centerItem regularButton">
		<a href="<%= url_for :action => :send_med_message%>">Med </a>
	</div>
</div>
<p/>
<div class="toolbar">
	<div class="centerItem regularButton">
		<a href="<%= url_for :action => :send_low_message%>">Low </a>
	</div>
</div>
<p/>
<div class="toolbar">
	<div class="centerItem regularButton">
		<a href="<%= url_for :action => :send_off_message%>">Off </a>
	</div>
</div>
