<div class="pageTitle">
  <h1>Edit <%= @session.id %></h1>
</div>

<div class="toolbar">
  <div class="leftItem regularButton">
    <a href="<%= url_for :action => :cancel %>">Cancel</a>
  </div>
  <div class="rightItem regularButton">
    <a class="button" href="<%= url_for :action => :delete, :id => @session.object %>">Delete</a>
  </div>
</div>

<div class="content">
  <form method="POST" action="<%= url_for :action => :update %>">
    <input type="hidden" name="id" value="<%= @session.object %>"/>
    <ul>    
          <li>
            <label for="session[name]" class="fieldLabel">Name</label>
            <input type="text" name="session[name]" value="<%= @session.name %>" <%= placeholder( "Name" ) %> />
          </li>
      
          <!--TODO Need a rating star widget here -->
          <li>
            <label for="session[rating]" class="fieldLabel">Rating</label>
            <input type="text" name="session[rating]" value="<%= @session.rating %>" <%= placeholder( "Rating" ) %> />
          </li>
      
      
          <li>
            <label for="session[notes]" class="fieldLabel">Notes</label>
            <input type="text" name="session[notes]" value="<%= @session.notes %>" <%= placeholder( "Notes" ) %> />
          </li>
      
    </ul>
    <input type="submit" class="standardButton" value="Save Pattern"/>
  </form>
</div>