<div class="pageTitle">
  <h1><%= @session.id %></h1>
</div>

<div class="toolbar">
  <div class="leftItem regularButton">
    <a href="<%= url_for :action => :index %>">Show all</a>
  </div>
  <div class="centerItem regularButton">
    <a href="<%= url_for :action => :edit, :id => @session.object %>">Edit</a>
  </div>
  <div class="rightItem regularButton">
    <a href="<%= url_for :action => :replay_session, :id => @session.object %>">Play</a>
  </div>
</div>

<div class="content">
  <ul>
        <li>
          <div class="itemLabel">Name</div>
          <div class="itemValue"><%= @session.name %></div>
        </li>
        <!-- TODO Format the date better -->
        <li>
          <div class="itemLabel">Created</div>
          <div class="itemValue"><%= @session.create_ts %></div>
        </li>
    
        <!-- TODO Format the duration better -->
        <li>
          <div class="itemLabel">Duration</div>
          <div class="itemValue"><%= @session.duration %></div>
        </li>
    
        <li>
          <div class="itemLabel">Rating</div>
          <div class="itemValue"><%= @session.rating %></div>
        </li>
    
        <li>
          <div class="itemLabel">Notes</div>
          <div class="itemValue"><%= @session.notes %></div>
        </li>
    
  </ul>
</div>