<div id="pageTitle">
		<h1>Edit <%= @partner.bzzid%></h1>
</div>

<div id="toolbar">
    <%= link_to "Back", :action => :show, :id => @partner.object %>
    <%= link_to "Delete", :action => :delete, :id => @partner.object %>
</div>


<div id="content">
    <form method="POST" action="<%= url_for :action => :update %>">
    	<input type="hidden" name="id" value="<%= @partner.object %>"/>
            <table>
        		
                    <tr>
            			<td class="itemLabel">Bzzid: </td>
              			<td class="itemValue"><input type="text" name="partner[bzzid]" value="<%= @partner.bzzid %>"/></td>
          		    </tr>
        		
                    <tr>
            			<td class="itemLabel">Name: </td>
              			<td class="itemValue"><input type="text" name="partner[name]" value="<%= @partner.name %>"/></td>
          		    </tr>
        		
                    <tr>
            			<td class="itemLabel">Nick: </td>
              			<td class="itemValue"><input type="text" name="partner[nick]" value="<%= @partner.nick %>"/></td>
          		    </tr>
        		
                    <tr>
            			<td class="itemLabel">Phone: </td>
              			<td class="itemValue"><input type="text" name="partner[phone]" value="<%= @partner.phone %>"/></td>
          		    </tr>
        		
                    <tr>
            			<td class="itemLabel">Email: </td>
              			<td class="itemValue"><input type="text" name="partner[email]" value="<%= @partner.email %>"/></td>
          		    </tr>
        		
                    <tr>
            			<td class="itemLabel">Twitter: </td>
              			<td class="itemValue"><input type="text" name="partner[twitter]" value="<%= @partner.twitter %>"/></td>
          		    </tr>
        		
            </table>
            <input type="submit" class="standardButton" value="Update" />
    </form>
</div>
