<div class="pageTitle">
  <h1>Edit <%= @partner.bzzid %></h1>
</div>

<div class="toolbar">
  <div class="leftItem backButton">
    <a href="<%= url_for :action => :show, :id => @partner.object %>">Cancel</a>
  </div>
  <div class="rightItem regularButton">
    <a class="button" href="<%= url_for :action => :delete, :id => @partner.object %>">Delete</a>
  </div>
</div>

<div class="content">
  <form method="POST" action="<%= url_for :action => :update %>">
    <input type="hidden" name="id" value="<%= @partner.object %>"/>
    <ul>
      
          <li>
            <label for="partner[bzzid]" class="fieldLabel">Bzzid</label>
            <input type="text" name="partner[bzzid]" value="<%= @partner.bzzid %>" <%= placeholder( "Bzzid" ) %> />
          </li>
      
          <li>
            <label for="partner[name]" class="fieldLabel">Name</label>
            <input type="text" name="partner[name]" value="<%= @partner.name %>" <%= placeholder( "Name" ) %> />
          </li>
      
          <li>
            <label for="partner[nick]" class="fieldLabel">Nick</label>
            <input type="text" name="partner[nick]" value="<%= @partner.nick %>" <%= placeholder( "Nick" ) %> />
          </li>
      
          <li>
            <label for="partner[phone]" class="fieldLabel">Phone</label>
            <input type="text" name="partner[phone]" value="<%= @partner.phone %>" <%= placeholder( "Phone" ) %> />
          </li>
      
          <li>
            <label for="partner[email]" class="fieldLabel">Email</label>
            <input type="text" name="partner[email]" value="<%= @partner.email %>" <%= placeholder( "Email" ) %> />
          </li>
      
          <li>
            <label for="partner[twitter]" class="fieldLabel">Twitter</label>
            <input type="text" name="partner[twitter]" value="<%= @partner.twitter %>" <%= placeholder( "Twitter" ) %> />
          </li>
      
    </ul>
    <input type="submit" class="standardButton" value="Update"/>
  </form>
</div>
