<div class="pageTitle">
  <h1>New <%= @partner.title %></h1>
</div>

<div class="toolbar">
  <div class="leftItem backButton">
    <a class="cancel" href="<%= url_for :action => :index %>">Cancel</a>
  </div>
</div>

<div class="content">
  <form method="POST" action="<%= url_for :action => :create %>">
    <input type="hidden" name="id" value="<%= @partner.object %>"/>
    <ul>
      
          <li>
            <label for="partner[BzzID]" class="fieldLabel">Bzzid</label>
            <input type="text" name="partner[BzzID]" <%=
            placeholder("Bzzid") %> />
          </li>
      
          <li>
            <label for="partner[Name]" class="fieldLabel">Name</label>
            <input type="text" name="partner[Name]" <%=
            placeholder("Name") %> />
          </li>
      
          <li>
            <label for="partner[Nick]" class="fieldLabel">Nick</label>
            <input type="text" name="partner[Nick]" <%=
            placeholder("Nick") %> />
          </li>
      
          <li>
            <label for="partner[Phone]" class="fieldLabel">Phone</label>
            <input type="text" name="partner[Phone]" <%=
            placeholder("Phone") %> />
          </li>
      
          <li>
            <label for="partner[Email]" class="fieldLabel">Email</label>
            <input type="text" name="partner[Email]" <%=
            placeholder("Email") %> />
          </li>
      
          <li>
            <label for="partner[Twitter]" class="fieldLabel">Twitter</label>
            <input type="text" name="partner[Twitter]" <%=
            placeholder("Twitter") %> />
          </li>
      
    </ul>
    <input type="submit" class="standardButton" value="Create"/>
  </form>
</div>