<div id="pageTitle">
	<h1><%= @partner.bzzid%></h1>
</div>

<div id="toolbar">
        <%= link_to "Back", :action => :index %>
        <%= link_to "Edit", :action => :edit, :id => @partner.object %>
</div>


<div id="content">

    <table>
      
      <tr>
    	<td class="itemLabel">Bzzid</td>
        <td class="itemValue"><%= @partner.bzzid%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Name</td>
        <td class="itemValue"><%= @partner.name%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Nick</td>
        <td class="itemValue"><%= @partner.nick%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Phone</td>
        <td class="itemValue"><%= @partner.phone%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Email</td>
        <td class="itemValue"><%= @partner.email%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Twitter</td>
        <td class="itemValue"><%= @partner.twitter%></td>
      </tr>
      
    </table>
</div>