<div class="pageTitle">
  <h1>New <%= @communication.title %></h1>
</div>

<div class="toolbar">
  <div class="leftItem backButton">
    <a class="cancel" href="<%= url_for :action => :index %>">Cancel</a>
  </div>
</div>

<div class="content">
  <form method="POST" action="<%= url_for :action => :create %>">
    <input type="hidden" name="id" value="<%= @communication.object %>"/>
    <ul>
      
          <li>
            <label for="communication[id]" class="fieldLabel">Id</label>
            <input type="text" name="communication[id]" <%=
            placeholder("Id") %> />
          </li>
      
          <li>
            <label for="communication[name]" class="fieldLabel">Name</label>
            <input type="text" name="communication[name]" <%=
            placeholder("Name") %> />
          </li>
      
          <li>
            <label for="communication[type]" class="fieldLabel">Type</label>
            <input type="text" name="communication[type]" <%=
            placeholder("Type") %> />
          </li>
      
          <li>
            <label for="communication[description]" class="fieldLabel">Description</label>
            <input type="text" name="communication[description]" <%=
            placeholder("Description") %> />
          </li>
      
    </ul>
    <input type="submit" class="standardButton" value="Create"/>
  </form>
</div>