<div class="pageTitle">
  <h1><%= @communication.id %></h1>
</div>

<div class="toolbar">
  <div class="leftItem backButton">
    <a href="<%= url_for :action => :index %>">Back</a>
  </div>
  <div class="rightItem regularButton">
    <a href="<%= url_for :action => :edit, :id => @communication.object %>">Edit</a>
  </div>
</div>

<div class="content">
  <ul>
    
        <li>
          <div class="itemLabel">Id</div>
          <div class="itemValue"><%= @communication.id %></div>
        </li>
    
        <li>
          <div class="itemLabel">Name</div>
          <div class="itemValue"><%= @communication.name %></div>
        </li>
    
        <li>
          <div class="itemLabel">Type</div>
          <div class="itemValue"><%= @communication.type %></div>
        </li>
    
        <li>
          <div class="itemLabel">Description</div>
          <div class="itemValue"><%= @communication.description %></div>
        </li>
    
  </ul>
</div>