<div class="pageTitle">
  <h1>Options</h1>
</div>


<div class="toolbar">
  <h3>  <span class="title">Options</span>  </h3>
</div>

<div class="content">
  <ul>
    <% if @msg %>
        <li style="color: red; text-align: center"><%= @msg %></li>
    <% end %>
<!--
   <li>
      <div class="itemLabel">
        <span class="title">Client ID:</span>
      </div>
      <div class="itemValue">
        <span class="clientID"><%= Rhom::Rhom::client_id %></span>
      </div>
    </li>
-->
    <li><a href="<%= url_for :action => :device_setup %>">Setup Vibe</a></li>

    <li><a href="#">Select Theme</a></li>

    <% if SyncEngine::logged_in > 0 %>
        <li><a href="<%= url_for :action => :logout %>">Sign Out</a></li>
    <% else %>
        <li><a href="<%= url_for :action => :login %>">Sign In</a></li>
    <% end %>


    <li><a href="<%= url_for :action => :reset %>">Clear Patterns</a></li>
    <li><a href="<%= url_for :action => :do_sync %>">Sync Patterns</a></li>

  </ul>
</div>